<div class="col p-2 m-0">
    <div class="card border border-3 border-warning rounded-2 h-100">
        <a href="/article/{{this.id_article}}"><img src="https://image.tmdb.org/t/p/original{{this.poster_path}}"
                class="card-img-top" alt="Affiche" /></a>
        <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title text-center mb-3">{{this.title}}</h5>
            {{!-- <div class="row justify-content-around">
                {{#if likes}}
                {{#each likes}}
                {{#if this.is_liked}}
                <button class="col-5 btn btn-outline-warning active" data-bs-toggle="button" aria-pressed="true"><i
                        class="bi bi-hand-thumbs-up"></i></button>
                <button class="col-5 btn btn-outline-warning" data-bs-toggle="button"><i
                        class="bi bi-hand-thumbs-down"></i></button>
                {{else}}
                <button class="col-5 btn btn-outline-warning" data-bs-toggle="button"><i
                        class="bi bi-hand-thumbs-up"></i></button>
                <button class="col-5 btn btn-outline-warning active" data-bs-toggle="button" aria-pressed="true"><i
                        class="bi bi-hand-thumbs-down"></i></button>
                {{/if}}
                {{/each}}
                {{else}}
                <button class="col-5 btn btn-outline-warning" data-bs-toggle="button"><i
                        class="bi bi-hand-thumbs-up"></i></button>
                <button class="col-5 btn btn-outline-warning" data-bs-toggle="button"><i
                        class="bi bi-hand-thumbs-down"></i></button>
                {{/if}}
            </div> --}}
        </div>
    </div>
</div>