<tr class="table">
    <td>
        <div class="d-flex">
            <p class="text-primary">{{this.username}}</p>
            <p class="text-muted">{{formatCommentDate this.updated_at}}</p>
        </div>
        <p class="ms-5">{{this.content}}</p>
        <div class="d-flex">
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                data-bs-target="#CommentU{{this.id_comment}}">éditer</button>
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                data-bs-target="#CommentD{{this.id_comment}}">supprimer</button>
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                data-bs-target="#CommentR{{this.id_comment}}">signaler</button>
        </div>
    </td>
</tr>

{{!-- Modal Update Comment --}}
<div class="modal fade" id="CommentU{{this.id_comment}}" tabindex="-1" aria-labelledby="CommentU{{this.id_comment}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CommentU{{this.id_comment}}">Éditer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/comment/{{this.id_comment}}?_method=PUT" method="post">
                <div class="modal-body">
                    <label class="form-label" for="upComment">Commentaire</label>
                    <textarea class="form-control" name="content" id="upComment" rows="3">{{this.content}}</textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Valider</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- Modal Delete Comment --}}
<div class="modal fade" id="CommentD{{this.id_comment}}" tabindex="-1" aria-labelledby="CommentD{{this.id_comment}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CommentD{{this.id_comment}}">Supprimer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirmez-vous que vous souhaitez supprimer ce commentaire ?</p>
            </div>
            <div class="modal-footer">
                <form action="/comment/{{this.id_comment}}?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger">Oui</button>
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Non</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- Modal Report Comment --}}
<div class="modal fade" id="CommentR{{this.id_comment}}" tabindex="-1" aria-labelledby="CommentR{{this.id_comment}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CommentR{{this.id_comment}}">Signaler</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirmez-vous que vous souhaitez signaler ce commentaire ?</p>
            </div>
            <div class="modal-footer">
                <form action="/report/{{this.id_comment}}?_method=PUT" method="post">
                    <button type="submit" class="btn btn-danger">Oui</button>
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Non</button>
                </form>
            </div>
        </div>
    </div>
</div>