<tr class="table">
    <td>
        <div class="d-flex">
            <p class="text-primary">{{this.username}}</p>
            <p class="text-muted">{{formatCommentDate this.created_at}}</p>
        </div>
        <p class="ms-5">{{this.content}}</p>
        <div class="d-flex">
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
            data-bs-target="#modalUpdateComment{{this.id_comment}}">éditer</button>
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
            data-bs-target="#modalDeleteComment{{this.id_comment}}">supprimer</button>
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
            data-bs-target="#modalReportComment{{this.id_comment}}">signaler</button>
        </div>
    </td>
</tr>

{{!-- Modal Update Comment --}}
<div class="modal fade" id="modalUpdateComment{{this.id_comment}}" tabindex="-1"
    aria-labelledby="modalUpdateComment{{this.id_comment}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalUpdateComment{{this.id_comment}}">Confirmer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="w-100" name="content" id="updateComment" rows="3">{{this.content}}</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-warning" >Valider</button>
            </div>
        </div>
    </div>
</div>

{{!-- Modal Delete Comment --}}
<div class="modal fade" id="modalDeleteComment{{this.id_comment}}" tabindex="-1"
    aria-labelledby="modalDeleteComment{{this.id_comment}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDeleteComment{{this.id_comment}}">Confirmer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vous confirmez la suppression de ce commentaire ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Oui</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>

{{!-- Modal Report Comment --}}
<div class="modal fade" id="modalReportComment{{this.id_comment}}" tabindex="-1"
    aria-labelledby="modalReportComment{{this.id_comment}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalReportComment{{this.id_comment}}">Confirmer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vous confirmez le signalement de ce commentaire ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Oui</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>