{{! Article }}
<article class="row row-cols-1 row-cols-lg-2 m-0">
    <img class="col p-2" src="https://image.tmdb.org/t/p/original{{data.article.poster_path}}" alt="Affiche" />
    <div class="col text-white m-0 p-2">
        <h4>Titre : {{data.article.title}}</h4>
        <p>Année : ...</p>
        <p>Durée : ...</p>
        <p>Sortie : {{formatDate data.article.release_date 'DD/MM/YYYY'}}</p>
        <p>Certificat : ...</p>
        <div class="d-flex">
            <p class="me-1">Genres :</p>
            {{#each data.genres}}
            <p class="mx-1">{{this.name}}</p>
            {{/each}}
        </div>
        <p>Réalisateur : ...</p>
        <p>Acteurs principaux : ...</p>
        <p>Résumé : {{data.article.overview}}</p>
        <div class="d-flex justify-content-center my-4">
            {{#if data.likes}}
            {{#each data.likes}}
            {{#if this.is_liked}}
            <form action="/article/{{this.id_article}}?_method=PUT" method="post"
                class="container-fluid d-flex justify-content-around">
                <a class="col-3 btn btn-outline-warning active" role="button" aria-disabled="true"><i
                        class="bi bi-hand-thumbs-up"></i></a>
                <button class="col-3 btn btn-outline-warning" type="submit"><i
                        class="bi bi-hand-thumbs-down"></i></button>
            </form>
            {{else}}
            <form action="/article/{{this.id_article}}?_method=PUT" method="post"
                class="container-fluid d-flex justify-content-around">
                <button class="col-3 btn btn-outline-warning" type="submit"><i
                        class="bi bi-hand-thumbs-up"></i></button>
                <a class="col-3 btn btn-outline-warning active" role="button" aria-disabled="true"><i
                        class="bi bi-hand-thumbs-down"></i></a>
            </form>
            {{/if}}
            {{/each}}
            {{else}}
            <div class="container-fluid d-flex justify-content-around">
                <form action="/article/{{data.article.id_article}}" method="post" class="col-3">
                    <input type="text" name="is_liked" id="inputIsLiked" style="display: none;" value="1">
                    <button class="col-12 btn btn-outline-warning" type="submit"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                </form>
                <form action="/article/{{data.article.id_article}}" method="post" class="col-3">
                    <input type="text" name="is_liked" id="inputIsLiked" style="display: none;" value="0">
                    <button class="col-12 btn btn-outline-warning" type="submit"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</article>

{{! Section Commentaire }}
<div class="container-fluid p-3">
    <form action="/comment/{{data.article.id_article}}" method="post" class="bg-light p-2">
        <div class="d-flex flex-column">
            <label class="form-label" for="addComment">Poster un commentaire</label>
            <textarea class="form-control" name="content" id="addComment" rows="3"></textarea>
        </div>
        <div class="d-flex justify-content-end my-2">
            <button class="btn btn-warning" type="submit">Post</button>
        </div>
    </form>
</div>

<div class="container-fluid p-3">
    <table class="table bg-light">
        <thead>
            <tr>
                <th scope="col">Commentaires</th>
            </tr>
        </thead>
        <tbody>
            {{#each data.comments}}
            {{> global/comment data=this}}
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Modal Flash --}}
{{#if flash}}
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attention</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{this.flash}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{/if}}