{{! Article }}
<article class="row row-cols-1 row-cols-lg-2 m-0">
    <img class="col p-2" src="https://image.tmdb.org/t/p/original{{data.poster_path}}" alt="Affiche" />
    <div class="col text-white m-0 p-2">
        <h4>Titre : {{data.title}}</h4>
        <p>Année : 2005</p>
        <p>Durée : 2h 20min</p>
        <p>Sortie : {{formatDate data.release_date 'DD/MM/YYYY'}}</p>
        <p>Certificat : Tous publics</p>
        <div class="d-flex">
            <p class="me-1">Genres :</p>
            {{#each genres}}
            <p class="mx-1">{{this.name}}</p>
            {{/each}}
        </div>
        <p>Réalisateur : George Lucas</p>
        <p>Acteurs principaux : Ewan McGregor, Natalie Portman, Hayden Christensen</p>
        <p>Résumé : {{data.overview}}</p>
        <div class="d-flex justify-content-center my-4">
            {{#if likes}}
            {{#each likes}}
            {{#if this.is_liked}}
            <form action="/article/{{this.id_article}}?_method=PUT" method="post"
                class="container-fluid d-flex justify-content-around">
                <input type="text" name="is_liked" id="inputIsLiked" style="display: none;" value="0">
                <a class="col-3 btn btn-outline-warning active" role="button" aria-disabled="true"><i
                        class="bi bi-hand-thumbs-up"></i></a>
                <button class="col-3 btn btn-outline-warning" type="submit"><i
                        class="bi bi-hand-thumbs-down"></i></button>
            </form>
            {{else}}
            <form action="/article/{{this.id_article}}?_method=PUT" method="post"
                class="container-fluid d-flex justify-content-around">
                <input type="text" name="is_liked" id="inputIsLiked" style="display: none;" value="1">
                <button class="col-3 btn btn-outline-warning" type="submit"><i
                        class="bi bi-hand-thumbs-up"></i></button>
                <a class="col-3 btn btn-outline-warning active" role="button" aria-disabled="true"><i
                        class="bi bi-hand-thumbs-down"></i></a>
            </form>
            {{/if}}
            {{/each}}
            {{else}}
            <div class="container-fluid d-flex justify-content-around">
                <form action="/article/{{id}}" method="post" class="col-3">
                    <input type="text" name="is_liked" id="inputIsLiked" style="display: none;" value="1">
                    <button class="col-12 btn btn-outline-warning" type="submit"><i
                            class="bi bi-hand-thumbs-up"></i></button>
                </form>
                <form action="/article/{{id}}" method="post" class="col-3">
                    <input type="text" name="is_liked" id="inputIsLiked" style="display: none;" value="0">
                    <button class="col-12 btn btn-outline-warning" type="submit"><i
                            class="bi bi-hand-thumbs-down"></i></button>
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</article>

{{! Section Commentaire }}
<form action="/article/{{id}}" method="post" class="container-fluid bg-light">
    <div class="d-flex flex-column">
        <label class="form-label" for="textareaComment">Poster un commentaire</label>
        <textarea class="form-control" name="content" id="textareaComment" rows="3"></textarea>
    </div>
    <div class="d-flex justify-content-end my-2">
        <button class="btn btn-warning" type="submit">Post</button>
    </div>
</form>
<div class="container-fluid p-3">
    <table class="table bg-light">
        <thead>
            <tr>
                <th scope="col">Commentaires</th>
            </tr>
        </thead>
        <tbody>
            {{#each comments}}
            {{> global/comment data=this}}
            {{/each}}
        </tbody>
    </table>
</div>