{{! Article }}
<article class="row row-cols-1 row-cols-lg-2 m-0">
    <img class="col p-2" src="https://image.tmdb.org/t/p/original{{data.poster_path}}" alt="Affiche" />
    <div class="col text-white m-0 p-2">
        <h4>Titre : {{data.title}}</h4>
        <p>Année : 2005</p>
        <p>Durée : 2h 20min</p>
        <p>Sortie : {{formatDate data.release_date 'DD/MM/YYYY'}}</p>
        <p>Certificat : Tous publics</p>
        <div class="d-flex">
            <p class="me-1">Genres :</p>
            {{#each genres}}
            <p class="mx-1">{{this.name}}</p>
            {{/each}}
        </div>
        <p>Réalisateur : George Lucas</p>
        <p>Acteurs principaux : Ewan McGregor, Natalie Portman, Hayden Christensen</p>
        <p>Résumé : {{data.overview}}</p>
        <div class="d-flex justify-content-around my-4">
            <button class="col-3 btn btn-outline-warning" data-bs-toggle="button"><i
                    class="bi bi-hand-thumbs-up"></i></button>
            <button class="col-3 btn btn-outline-warning" data-bs-toggle="button"><i
                    class="bi bi-hand-thumbs-down"></i></button>
        </div>

    </div>
</article>

{{! Section Commentaire }}
<form action="" method="post" class="container-fluid bg-light">
    <div class="d-flex flex-column">
        <label for="textareaComment">Poster un commentaire</label>
        <textarea name="content" id="textareaComment" rows="3"></textarea>
    </div>
    <div class="d-flex justify-content-end my-2">
        <button class="btn btn-warning" type="submit">Post</button>
    </div>
</form>
<div class="container-fluid p-3">
    <table class="table bg-light">
        <thead>
            <tr>
                <th scope="col">Commentaires</th>
            </tr>
        </thead>
        <tbody>
            {{#each comments}}
            {{> global/comment data=this}}
            {{/each}}
        </tbody>
    </table>
</div>