{{!-- Card Stats a faire --}}

<div class="container-fluid mb-2">
    <div>
        <div class="card card-body">
            <h4 class="mb-2">Informations personnelles</h4>
            <div class="container-fluid d-flex flex-md-row flex-column justify-content-md-around">
                <div class="col d-flex justify-content-center mb-2">
                    <a role="button" data-bs-toggle="modal" data-bs-target="#modalAvatar"><img class="rounded-circle shadow" style="width: 200px;" src="/assets/img/{{user.image_user}}" alt="avatar"></a>
                </div>
                <div class="col d-flex flex-column justify-content-center text-center mb-2">
                    <p>Identifiant : {{user.username}}</p>
                    <p>Prénom : {{user.firstname}}</p>
                    <p>Nom : {{user.lastname}}</p>
                    <p>Adresse mail : {{user.email}}</p>
                </div>
            </div>
            <div class="d-flex flex-md-row flex-column justify-content-end">
                <button type="button" class="btn btn-warning me-md-3 mb-md-0 mb-2" data-bs-toggle="modal"
                    data-bs-target="#modalUpdateUser">Modifier vos informations</button>
                <button type="button" class="btn btn-warning me-md-3 mb-md-0 mb-2" data-bs-toggle="modal"
                    data-bs-target="#modalUpdatePass">Changer de mot de passe</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalDeleteAccount">Supprimer le compte</button>
            </div>
        </div>
        {{!-- Modal Avatar --}}
        <div class="modal fade" id="modalAvatar" tabindex="-1" aria-labelledby="modalAvatar" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalAvatar">Changer votre image de profil</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/profil/{{user.id_user}}?_method=PUT" method="post" class="modal-body" enctype="multipart/form-data">
                        <div class="modal-body">
                            <p>Choisissez une image avec un ratio 1:1</p>
                            <input class="form-control" type="file" name="image_user" id="addImage">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{!-- Modal Update User --}}
        <div class="modal fade" id="modalUpdateUser" tabindex="-1" aria-labelledby="modalUpdateUser" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalUpdateUser">Modifier vos informations personnelles</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/profil/{{user.id_user}}?_method=PUT" method="post">
                        <div class="modal-body">
                            <div class="d-flex flex-column">
                                <label class="form-label" for="upUsername">Identifiant</label>
                                <input class="form-control" type="text" name="username" id="upUsername"
                                    value="{{user.username}}">
                            </div>
                            <div class="d-flex flex-column mt-2">
                                <label class="form-label" for="upFirstname">Prénom</label>
                                <input class="form-control" type="text" name="firstname" id="upFirstname"
                                    value="{{user.firstname}}">
                            </div>
                            <div class="d-flex flex-column mt-2">
                                <label class="form-label" for="upLastname">Nom</label>
                                <input class="form-control" type="text" name="lastname" id="upLastname"
                                    value="{{user.lastname}}">
                            </div>
                            <div class="d-flex flex-column mt-2">
                                <label class="form-label" for="upEmail">Email</label>
                                <input class="form-control" type="text" name="email" id="upEmail"
                                    value="{{user.email}}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning">Mettre à jour</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{!-- Modal Update Pass --}}
        <div class="modal fade" id="modalUpdatePass" tabindex="-1" aria-labelledby="modalUpdatePass" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalUpdatePass">Modifier votre mot de passe</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/profil/{{user.id_user}}?_method=PUT" method="post">
                        <div class="modal-body">
                            <div class="d-flex flex-column">
                                <label class="form-label" for="upOldPass">Ancien mot de passe</label>
                                <input class="form-control" type="password" name="oldpassword" id="upOldPass">
                            </div>
                            <div class="d-flex flex-column mt-2">
                                <label class="form-label" for="upPass">Nouveau mot de passe</label>
                                <input class="form-control" type="password" name="password" id="upPass">
                            </div>
                            <div class="d-flex flex-column mt-2">
                                <label class="form-label" for="upConfirm">Confirmer</label>
                                <input class="form-control" type="password" name="confirm" id="upConfirm">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning">Mettre à jour</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{!-- Modal Delete Account --}}
        <div class="modal fade" id="modalDeleteAccount" tabindex="-1" aria-labelledby="modalDeleteAccount"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalDeleteAccount">Supprimer vote compte</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Vous confirmez vouloir supprimer votre compte ?</p>
                    </div>
                    <form action="/profil/{{user.id_user}}?_method=DELETE" method="post">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Oui</button>
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Non</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Listes --}}
{{!-- Films --}}
<table class="table table-light mb-2">
    <h4 class="bg-light">Films</h4>
    <thead>
        <tr>
            <th scope="col" colspan="3" class="col-10">Noms</th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-up"></i>
            </th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-down"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each films}}
        {{> global/article_profil data=this}}
        {{/each}}
    </tbody>
</table>

{{!-- Séries --}}
<table class="table table-light mb-2">
    <h4 class="bg-light">Séries</h4>
    <thead>
        <tr>
            <th scope="col" colspan="3" class="col-10">Noms</th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-up"></i>
            </th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-down"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each series}}
        {{> global/article_profil data=this}}
        {{/each}}
    </tbody>
</table>

{{!-- Animes --}}
<table class="table table-light mb-2">
    <h4 class="bg-light">Animes</h4>
    <thead>
        <tr>
            <th scope="col" colspan="3" class="col-10">Noms</th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-up"></i>
            </th>
            <th class="text-center" scope="col"><i class="col-1 m-0 p-0 text-center bi bi-hand-thumbs-down"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each animes}}
        {{> global/article_profil data=this}}
        {{/each}}
    </tbody>
</table>