{{!-- 1 Comment --}}
<tr class="table-secondary">
    <td>{{this.username}}</td>
    <td>{{formatCommentDate this.updated_at}}</td>
    <td class="d-flex justify-content-end gap-1">
        <button type="button" class="btn btn-warning" data-bs-toggle="collapse"
            data-bs-target="#collapseReadComment{{this.id_comment}}" aria-expanded="false"
            aria-controls="collapseReadComment{{this.id_comment}}">
            <i class="fa-regular fa-eye"></i></button>

        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#modalDeleteComment{{this.id_comment}}">
            <i class="fa-regular fa-trash-can"></i></button>
    </td>
</tr>

{{!-- Collapse Read --}}
<tr class="table-warning">
    <td colspan="3" class="collapse" id="collapseReadComment{{this.id_comment}}">
        <div class="card card-body">
            <p>{{this.content}}</p>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
            data-bs-target="#modalRemoveReport{{this.id_comment}}">Retirer le signalement</button>
        </div>
    </td>
</tr>

{{!-- Modal Delete Comment --}}
<div class="modal fade" id="modalDeleteComment{{this.id_comment}}" tabindex="-1"
    aria-labelledby="modalDeleteComment{{this.id_comment}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDeleteComment{{this.id_comment}}">Confirmer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vous confirmez la suppression de ce commentaire ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Oui</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>

{{!-- Modal Remove Report --}}
<div class="modal fade" id="modalRemoveReport{{this.id_comment}}" tabindex="-1"
    aria-labelledby="modalRemoveReport{{this.id_comment}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalRemoveReport{{this.id_comment}}">Confirmer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vous confirmez retirer le signalement de ce commentaire ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning">Oui</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>