{{!-- 1 User --}}
<tr class="table-secondary">
    <td >{{this.username}}</td>
    <td>{{this.role}}</td>
    <td class="d-flex justify-content-end gap-1">
        <button type="button" class="btn btn-warning" data-bs-toggle="collapse"
            data-bs-target="#collapseReadUser{{this.id}}" aria-expanded="false" aria-controls="collapseReadUser{{this.id}}">
            <i class="fa-regular fa-eye"></i></button>

        <button type="button" class="btn btn-warning" data-bs-toggle="collapse"
            data-bs-target="#collapseUpdateUser{{this.id}}" aria-expanded="false" aria-controls="collapseUpdateUser{{this.id}}">
            <i class="fa-regular fa-pen-to-square"></i></button>

        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#modalDeleteUser{{this.id}}">
            <i class="fa-regular fa-trash-can"></i></button>
    </td>
</tr>

{{!-- Collapse Read --}}
<tr class="table-warning">
    <td colspan="3" class="collapse" id="collapseReadUser{{this.id}}">
        <div class="card card-body">
            <p>Identifiant : {{this.username}}</p>
            <p>Prénom : </p>
            <p>Nom : </p>
            <p>Date de naissance : </p>
            <p>Adresse mail : </p>
            <p>Rôle : {{this.role}}</p>
        </div>
    </td>
</tr>

{{!-- Collapse Update --}}
<tr class="table-warning">
    <td colspan="3" class="collapse" id="collapseUpdateUser{{this.id}}">
        <div class="card card-body">
            <p>Identifiant : {{this.username}}</p>
            <p>Prénom : </p>
            <p>Nom : </p>
            <p>Date de naissance : </p>
            <p>Adresse mail : </p>
            <p>Rôle : {{this.role}}</p>
        </div>
    </td>
</tr>

{{!-- Modal Delete User --}}
<div class="modal fade" id="modalDeleteUser{{this.id}}" tabindex="-1" aria-labelledby="modalDeleteUser{{this.id}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDeleteUser{{this.id}}">Confirmer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vous confirmez la suppression de cet utilisateur ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Oui</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>